    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    
    body{
      font-family: "Poppins", sans-serif;
      
    }
    
    
    .navbar-brand img {
      height: 30px;
    }
         .navbar-brand span {
      font-weight: bold;
    }
    .navbar-icons{
      gap: 15px;
    }
    .icon-img{

      height: 20px;
    }
    .nav-link{

opacity: 1;
font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 16px;

line-height: 100%;


}

    @media (max-width: 991.98px) {
      .navbar-icons {
        margin-top: 10px;
        justify-content: center;
      }
    }
    .navbar-nav li {
  display: block;


}






    .btn-custom {


opacity: 1;
padding-top: 20px !important;
padding-right: 50px !important;
padding-bottom: 20px !important;
padding-left: 50px !important;

color: white;
background-color: #B88E2F ;
border-radius: 0%;



font-weight: 700;

text-transform: uppercase;

    }





        .banner {
      background-image: url('../images/banner1.jpg');
      background-size: cover;
      background-position: center;
      padding: 100px 0;
    }

    .banner-box {
      background-color: #fceee2;
      border-radius: 10px;
      padding: 50px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      height: 443px;
      width: auto;
    }

    .small-heading {
      width: 123px;
height: 24px;
opacity: 1;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 2px;
color: #333333;


    }

    .big-heading {
height: 127px;
opacity: 1;
font-family: Poppins;
font-weight: 700;
font-size: 52px;
line-height: 65px;
letter-spacing: 0px;
color: #B88E2F;


    }



    .btn-custom:hover {
      background-color: #9e6f12;
      color: white;
    }

    @media (max-width: 768px) {
      .big-heading {
        font-size: 2rem;
      }

      .banner-box {
        padding: 30px 20px;
      }
    }


    .txt1{
      text-align: center;
    }  

    .text1{
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
    } 
    
 .text2{
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
} 

.card-text{
width: 79;
height: 36;
opacity: 1;
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;


}
.card-img-top{
  height: 400px;
}




    .product-card {
      position: relative;
      overflow: hidden;
      transition: transform 0.3s ease;
      height: 446px;
      border-radius: 0%;
      border: none;
    }

    .product-image {
      position: relative;
      overflow: hidden;
    }
    
    .card-body{
      background-color: #F4F5F7;
    }

    .product-image img {
      width: 285px;
      height: auto;
      display: block;
      transition: transform 0.3s ease;
    }

    .product-card:hover img {
      transform: scale(1.05);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      color: white;
      transition: opacity 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    .product-card:hover .overlay {
      opacity: 1;
    }

    .overlay button {
      background-color: white;
      color: #b88e2f;
      font-weight: bold;
      border: none;
      padding: 8px 20px;
      margin-bottom: 15px;
      border-radius: none;
    }

    .overlay .actions span {
      margin: 0 10px;
      font-size: 14px;
    }

    .discount-badge, .new-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 17px 12px;
      border-radius: 100%;
      font-size: 10px;
      font-weight: bold;
      color: white;
    }

    .discount-badge {
      background-color: #e97171;
    }

    .new-badge {
      background-color: #2ec1ac;
    }

    .text-strike {
      text-decoration: line-through;
      color: #aaa;
      font-weight: normal;
      font-size: 0.9rem;
    }
    .card-body h6{
      width: 123px;
height: 29px;
opacity: 1;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* letter-spacing: 0%; */
    }
    .card-body p{
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* letter-spacing: 0%; */
    }

    @media (max-width:320px) {
      .product-image img{
        width: 295px;
      }
      #navbarContent{
        align-items: center;
        display: grid;
      }
      .container-fluid img{
        width: 310px;
        height: 200px;
      }
      
    }

        .butt{
      align-items: center;
      text-align: center;
    }
    .btnn2{
     width: 245px;
     height: 48px;
     border: 1px solid #B88E2F;
     font-weight: bold;
     color: #B88E2F;
     background-color: transparent;
    }


    /* slider */
                 .left-content {
      padding: 50px 30px;
    }
    .heading {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }
    .desc {
      color: #666;
      margin: 20px 0;
    }
    .btn-gold3 {
      background-color: #c9a348;
      color: white;
      border: none;
    }
    .btn-gold3:hover {
      background-color: #a3853a;
    }
    .carousel-item img {
      width: 100%;

      height: 500px;
      object-fit: cover;
    }
    .slider-caption {
      background: white;
      padding: 15px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .slider-caption small {
      color: gray;
    }

    .room-text h1{
font-weight: 700;
font-size: 40px;
line-height: 120%;
/* letter-spacing: 0%; */
    }
    .room-text p{
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* letter-spacing: 0%; */
    }
    .room-text a{
      width: 176px;
      height: 48px;
      background-color: #B88E2F;
      color: white;
font-weight: 600;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
border-radius: 0%;
text-align: center;
padding-top: 10px;

    }
    .room-text a:hover{
      background-color: #a3853a;
      color: white;
    }
    /* slider */



        /* image container */
         .img-2-container {
        position: relative;
      }
      .img-2 {
        position: absolute;
        height: 200px;
        bottom: 0;
        right: 0;
      }
  

      .img-4-container {
        position: relative;
      }
      .img-4 {
        position: absolute;
        height: 200px;
        top: 0;
        right: 0;
      }

      .img-5-container {
        position: relative;
      }
      .img-5 {
        position: absolute;
        top: 170px;
        right: 0;
      }

      .img-6-container {
        position: relative;
      }
      .img-6 {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .img-8-container {
        position: relative;
      }
      .img-8 {
        position: absolute;
        top: 0;
        right: 0;
      }

      .img-7 {
        width: 100%;
      }


      @media screen and (max-width: 767px) {
        .img-2 {
          position: inherit;
          height: 400px;
          width: 100%;
        }
        .img-5 {
          position: inherit;
          top: 0;
        }
        .img-4 {
          position: inherit;
          height: 400px;
          width: 100%;
        }
        .img-6 {
          position: inherit;
        }
        .img-8 {
          position: inherit;
        }
      }

      .banner4-text{
        text-align: center;
      }
      .text3{
font-weight: 600;
font-size: 20px;
line-height: 150%;
/* letter-spacing: 0%; */
text-align: center;
      }
      .text4{
font-weight: 700;
font-size: 40px;
line-height: 120%;
text-align: center;

      }
      @media (max-width:400px){
        .text4{
          font-size: 30px;
        }
      }

      


     .footer-main{
      border-top: 1px solid #0000002B;
     }
     .footer-main ul li{
      padding-top: 50px;
font-weight: bold;
font-size: 16px;
line-height: 100%;

     }
     .address{
      font-weight: lighter;
font-style: Medium;
font-size: 16px;
line-height: 100%;
     }
     .footer-main form input{
      border: none;
      background-color: white;
      border-bottom: 1px solid black;
      border-radius: 0%;
     }
     .footer-btn{
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
border: none;
background-color: white;
border-bottom: 1px solid black;

     }

     .footer h6{
      font-weight: lighter;
     }